body {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

li {
    list-style: none;
    font-size: 20px;
    color: rgb(80, 79, 79);
}

li:first-letter {
    text-transform: capitalize;
}

button {
    margin: 20px;
}

.weather-app {
    border: 1px solid;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.weather-app-wrapper {
    max-width: 1000px;
    margin: 50px auto;
}

.enterCity {
    max-width: 1000px;
}
.row {
    justify-content: center;
    margin: 50px auto;
}
.col-3 {
    padding: 20px auto;
}
.current {
    max-width: 300px;
}
.card-img-top {
    max-width: 60px;
}
.active {
    text-decoration: none;
    color: black;
    cursor: default;
}
.active:hover {
    text-decoration: none;
}
.units {
    position: relative;
    font-size: 16px;
    top: -30px;
    text-decoration: none;
}

#cityTemp {
    font-size: 60px;
    font-weight: 400;
}
